# littr Gitlab CI configuration file

workflow:
  rules: 
    - if: '$CI_COMMIT_TAG'
      when: always
    - when: never

stages:         
  - test
  - build
  - deploy

test-local:
  stage: test
  script:
    - make test_local

build-image:  
  stage: build
  rules:
    - if: $APP_PEPPER != null
    - if: $APP_VERSION != null
    - if: $VAPID_PUBLIC_KEY != null
  script:
    - make build
    - make push_to_registry

.deploy_common:
  stage: deploy
  when: manual
  before_script:
    - eval $(ssh-agent -s)
    - chmod 400 "$DEPLOY_SSH_KEY"
    - ssh-add "$DEPLOY_SSH_KEY"
  script:
    - export DOCKER_HOST=ssh://$DEPLOY_USER@$DEPLOY_TARGET
    - make run

deploy-stage:    
  environment: 
    name: stage
  variables:
    APP_ENVIRONMENT: 'stage'
  extends: .deploy_common

deploy-prod: 
  environment: 
    name: prod
  variables:
    APP_ENVIRONMENT: 'prod'
  extends: .deploy_common

