Dear {{ .Nickname }},

Thank you for your registration. To be fully prepared to enjoy the littr experience, you need to verify your e-mail address. By seeing you read through this text gives us an idea that the verification will be successful. Please verify your account by clicking on the link below:

Activation link: {{ .ActivationLink }}

If you have not requested such operation or have not registered yourself at all, please ignore this e-mail. The request and associated user account will be deleted after 24 hours of inactivity.

Thank you.

littr
https:// {{ .MainURL }}
