Dear {{ .Nickname }},

The requested passphrase regeneration process has been successful. Please use the generated string below to log-in again.

New passphrase: {{ .Passphrase }}

Please do not forget to change the passphrase right after logging-in in the settings.

Thank you.

littr
https://{{ .MainURL }}
