Dear {{ .Nickname }},

We received a request to reset the passphrase for your account that is associated with this e-mail address: {{ .Email }}

To reset your passphrase, please click on the link below:

Reset Passphrase Link: {{ .ResetLink }}

You can insert the generated UUID in the reset form too: 

UUID: {{ .UUID }}

If you did not request this passphrase reset, please ignore this email. Your passphrase will remain unchanged. For the security reasons, this link will expire in 24 hours.

Thank you.

littr
https:// {{ .MainURL }}
