{
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "A simple nanoblogging platform.\n\nHTTP cookies must be used for authentication on most routes. These can be obtained by calling the `/auth` route with the appropriate parameters.",
        "title": "littr",
        "termsOfService": "https://www.littr.eu/tos",
        "contact": {
            "name": "API Support",
            "url": "https://www.littr.eu/docs",
            "email": "info@littr.eu"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/krustowski/littr/blob/master/LICENSE"
        },
        "version": "0.46.60"
    },
    "host": "www.littr.eu",
    "basePath": "/api/v1",
    "paths": {
        "/auth": {
            "post": {
                "description": "This function call acts as a procedure to authenticate an user using their credentials (nickname and hashed passphrase). On success, the pair of HTTP cookies are sent with the API response (`refresh-token` and `access-token`).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Auth an user",
                "parameters": [
                    {
                        "description": "User's credentials to authenticate.",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/auth.AuthUser"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Authentication process successful, HTTP cookies sent in response.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/auth.Auth.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/auth.Logout.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User not authenticated, wrong passphrase used, or such account does not exist at all.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/auth.Logout.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "User not found.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/auth.Logout.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server problem while processing the request.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/auth.Logout.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/auth/logout": {
            "post": {
                "description": "This function call's purpose is to sent void HTTP cookies to the caller. If the `refresh-token` sent with the request is valid, it is set to be purged from database and therefore cannot be used anymore.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "auth"
                ],
                "summary": "Log-out an user",
                "responses": {
                    "200": {
                        "description": "Void cookies sent in response.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/auth.Logout.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server error, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/dump": {
            "get": {
                "description": "This function call is used primarily by the healthcheck function inside the Docker compose stack to periodically dump running data into the JSON files.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "dump"
                ],
                "summary": "Perform system data dump",
                "parameters": [
                    {
                        "type": "string",
                        "description": "A special app's dump token.",
                        "name": "X-Dump-Token",
                        "in": "header",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The dumping process was successful.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data (e.g. a blank token).",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "User unauthorized (e.g. invalid token).",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/live": {
            "get": {
                "description": "Calling this endpoint creates a SSE subscription to receive the server-sent event stream. The connection type is set to keep-alive, so the common request will appear as \"timing-out\".",
                "produces": [
                    "text/event-stream"
                ],
                "tags": [
                    "live"
                ],
                "summary": "Get real-time server-sent event stream (SSE stream)",
                "responses": {
                    "200": {
                        "description": "The connection success. Typically appears when the stream ends gracefully.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "500": {
                        "description": "A generic network problem when connecting to the stream."
                    }
                }
            }
        },
        "/polls": {
            "get": {
                "description": "This function call retrieves a single page of polls according to the optional `X-Page-No` header (default is 0).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "polls"
                ],
                "summary": "Get a list of polls",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "A page number (default is 0).",
                        "name": "X-Page-No",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The requested page of polls is returned.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/polls.GetAll.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "A serious internal problem occurred while the request was being processed.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "post": {
                "description": "This function call handles a new poll request to the poll service, where new poll creation is ensured.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "polls"
                ],
                "summary": "Add new poll",
                "parameters": [
                    {
                        "description": "A new poll's simplified body.",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/polls.PollCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "A new poll has been created successfully.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "A serious problem occurred while processing the create request.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/polls/{pollID}": {
            "get": {
                "description": "This function call retrieves a single requested poll's data. Such poll's ID is to be provided as the URL parameter.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "polls"
                ],
                "summary": "Get single poll",
                "parameters": [
                    {
                        "type": "string",
                        "description": "A poll's ID to retrieve.",
                        "name": "pollID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The requested poll's data returned successfully.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/polls.GetByID.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Poll not found in the database.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "A serious internal problem occurred while the request was being processed.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "delete": {
                "description": "This function call takes in a `pollID` parameter, which is used to identify a poll to be purged.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "polls"
                ],
                "summary": "Delete a poll by ID",
                "parameters": [
                    {
                        "type": "string",
                        "description": "A poll's ID to be deleted.",
                        "name": "pollID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The poll has been deleted.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "User unauthorized. May occur when one tries to delete a foreign poll (the poll's author differs).",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Poll not found in the database.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "A serious internal problem occurred while the request was being processed.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "patch": {
                "description": "This function call updates the poll specified using the `pollID` parameter. The fields to be updated are the counts of the poll's options. Only a single incrementation related to the current state stored in the database is allowed to be processed.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "polls"
                ],
                "summary": "Update a poll",
                "parameters": [
                    {
                        "description": "A poll's body to update.",
                        "name": "updatedPoll",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/polls.PollUpdateRequest"
                        }
                    },
                    {
                        "type": "string",
                        "description": "A poll's unique ID.",
                        "name": "pollID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The poll has been updated successfully.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "A serious internal problem occurred while the request was being processed.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/posts": {
            "get": {
                "description": "This function call retrieves a page of posts. The page number is to be specified using the `X-Page-No` header (default is 0 = latest).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "posts"
                ],
                "summary": "Get posts",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "A page number (default is 0).",
                        "name": "X-Page-No",
                        "in": "header"
                    },
                    {
                        "type": "boolean",
                        "description": "An optional boolean to show only root posts without any reply (default is false).",
                        "name": "X-Hide-Replies",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of posts.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/posts.GetAll.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/common.APIResponse"
                        }
                    }
                }
            },
            "post": {
                "description": "This function call is to be used to create a new post.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "posts"
                ],
                "summary": "Add new post",
                "parameters": [
                    {
                        "description": "Post body.",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/posts.PostCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "New post has been added to the database and published.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Post"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Forbidden action occurred.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server problem occurred while processing the request.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/posts/hashtags/{hashtag}": {
            "get": {
                "description": "This function call fetches all posts tagged with specified hashtag phrase (`#phrase` =\u003e `phrase`).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "posts"
                ],
                "summary": "Get hashtagged post list",
                "parameters": [
                    {
                        "type": "boolean",
                        "description": "hide replies",
                        "name": "X-Hide-Replies",
                        "in": "header"
                    },
                    {
                        "type": "integer",
                        "description": "page number",
                        "name": "X-Page-No",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "hashtag string",
                        "name": "hashtag",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data fetched successfully.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/posts.GetByHashtag.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/posts/{postID}": {
            "get": {
                "description": "This function call enables one to fetch a single post by its ID with all replies associated.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "posts"
                ],
                "summary": "Get single post",
                "parameters": [
                    {
                        "type": "boolean",
                        "description": "Optional parameter to hide all replies (default is false).",
                        "name": "X-Hide-Replies",
                        "in": "header"
                    },
                    {
                        "type": "integer",
                        "description": "Page number (default is 0).",
                        "name": "X-Page-No",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "description": "Post ID to fetch.",
                        "name": "postID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Data fetched successfully.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/posts.GetByID.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server problem occurred while processing the request.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "delete": {
                "description": "This function call ensures that the specified post is purged from the database. Associated items like figures are deleted as well.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "posts"
                ],
                "summary": "Delete specified post",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Post ID to delete.",
                        "name": "postID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Specified post has been deleted.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid data input.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Forbidden action occurred (e.g. caller tried to delete a foreign post).",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server problem occurred while processing the request.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/posts/{postID}/star": {
            "patch": {
                "description": "This function call is used to increase the post reactions counter value. It add one (1) reaction to the current state of a post.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "posts"
                ],
                "summary": "Update post's star count",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Post ID to update.",
                        "name": "postID",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Counter value has been increased successfully.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/posts.UpdateReactions.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid data input.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "401": {
                        "description": "User unauthorized.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "Forbidden action happened (e.g. caller tried to increase the counter value of a post of theirs).",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "429": {
                        "description": "Too many requests, try again later.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "Internal server problem occurred while processing the request.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/stats": {
            "get": {
                "description": "This function call retrieves the system and users' statistics.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "stats"
                ],
                "summary": "Get stats",
                "responses": {
                    "200": {
                        "description": "Stats were calculated and are returned.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/stats.GetAll.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid called ID.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "A serious problem occurred while stats were being calculated.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "description": "This function call retrieves a paginated list of user accounts. The page number starts at 0 (and is the default value if not provided in a request).",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Get a list of users",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "Page number (default is 0)",
                        "name": "X-Page-No",
                        "in": "header"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Requested page of user accounts returned.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/users.GetAll.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "A generic problem in the internal system's logic. See the `message` KV in JSON to gain more information.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "post": {
                "description": "This function call provides a method on how to create a new user in the system.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Add new user",
                "parameters": [
                    {
                        "description": "The request body containing all listed fields for a new user's creation.",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/users.UserCreateRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The request was processed successfully and an user was created.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "The request body contains invalid data, or data types.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "403": {
                        "description": "This response code may occur when the registration is disabled.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "409": {
                        "description": "The nickname and/or e-mail fields contain data, that had been already used by someone else.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "There is a problem processing the request in the internal server logic. This may occur when a new user cannot be saved to the database for example.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/users/activation": {
            "post": {
                "description": "This function call provides a method for the new user's activation using a received UUID string in payload.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Activate an user via an UUID string",
                "parameters": [
                    {
                        "description": "A received UUID string to activate the user after the registration.",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/users.UserActivationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The user was activated successfully.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "The request body contains invalid data, or data types.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "The UUID string does not match any user in the system.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "There is a problem processing the request (e.g. a problem accessing the database).",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/users/caller": {
            "get": {
                "description": "This function call retrieves an user's data that is to be specified in the URI path (as `userID` param below in the request section). A special keyword `caller` can be used to retrieve all reasonable data for the user calling the API. The identity is assured using the refresh token, which is encoded into the refresh HTTP cookie.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Get the user's details",
                "responses": {
                    "200": {
                        "description": "Requested user's data (may be limited according to the caller).",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/users.GetByID.responseData"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid input data.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "User not found in the database.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "A generic problem in the internal system's logic. See the `message` KV in JSON to gain more information.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/users/passphrase/request": {
            "post": {
                "description": "This function call is to be used when an user forgets their passphrase and wants a new one. This very call generates a request for such reset only.\n\nInternally, this is a mailing procedure as two mails has to be delivered and the content used with the API/client to successfully reset the passphrase. This call generates the first mail.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Request the passphrase reset",
                "parameters": [
                    {
                        "description": "User's  e-mail address.",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/users.UserPassphraseRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The passphrase reset request was created successfully.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid data received.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "404": {
                        "description": "Such user does not exist in the system.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "500": {
                        "description": "There is an internal processing problem present (e.g. data could not be saved to the database).",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/users/passphrase/reset": {
            "post": {
                "description": "This function call is to be called when an user forgets their passphrase and wants a new one. This very call does the passphrase regeneration under the hood specifically.\n\nInternally, this is a mailing procedure as two mails has to be delivered and the content used with the API/client to successfully reset the passphrase. This call generates the second mail.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "users"
                ],
                "summary": "Reset the passphrase",
                "parameters": [
                    {
                        "description": "Received UUID string to confirm the reset.",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/users.UserPassphraseReset"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The passphrase was changed successfully.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.Stub"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Invalid data received.",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/common.APIResponse"
[...]
