.dot {
  height: 15px;
  width: 15px;
  background-color: #f57f17;
  border-radius: 50%;
  display: inline-block;
  display: none;
  transition: opacity 1s;
}

span.col {
  flex-direction: column;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  vertical-align: text-top;
}

sup,
sub {
  top: 0;
  bottom: 0;
  line-height: 1;
  font-size: .5em;
}
